* { padding: 0; margin: 0; }
html, body, #fullheight {
    background-color: #10041c !important;
    min-height: 100% !important;
    z-index: 1000;
    height: 100%;
    margin-bottom: 100px !important;
}
